### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [10]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [11]:
pd.DataFrame({'Total Players':[purchase_data.SN.nunique()]})

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [12]:
pd.options.display.float_format = '${:,.2f}'.format

In [13]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",$3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,$1.56
2,2,Ithergue48,24,Male,92,Final Critic,$4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,$3.27
4,4,Iskosia90,23,Male,131,Fury,$1.44

In [14]:
pd.DataFrame({'Number of Unique Items': [purchase_data['Item ID'].nunique()],\
              'Average Price':[purchase_data.Price.mean()],\
             'Number of Purchases':[purchase_data.Price.count()],
             'Total Revenue':[purchase_data.Price.sum()]})

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179          $3.05                  780      $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [15]:
import pandas as pd


# File to Load (Remember to Change These)
file_to_upload = "Resources/purchase_data.csv"




# Read Purchasing File and store into Pandas data frame
df = pd.read_csv(file_to_upload)
groupby_var= purchase_data.groupby("Gender")
count_var= groupby_var["SN"].nunique()

total_players=int(df["SN"].nunique())
percent_total=(count_var/total_players)


gender_data=pd.DataFrame({'Total Count':count_var,'Percentage of Players':percent_total})
gender_data["Percentage of Players"] = gender_data["Percentage of Players"].map("{:.2%}".format)
gender_data

                       Total Count Percentage of Players
Gender
Female                          81                14.06%
Male                           484                84.03%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [16]:
df = pd.read_csv(file_to_upload)
groupby_var= purchase_data.groupby("Gender")


purchase_count = groupby_var["Purchase ID"].count()

avg_purchase_price = groupby_var["Price"].mean()

avg_purchase_total = groupby_var["Price"].sum()

total_count_gender=int(df["SN"].nunique())
avg_purchase_per_person = avg_purchase_total/total_count_gender


gender_data = pd.DataFrame({"Purchase Count": purchase_count, 
                                    "Average Purchase Price": avg_purchase_price,
                                    "Average Purchase Value":avg_purchase_total,
                                    "Avg Purchase Total per Person": avg_purchase_per_person})

gender_data.index.name = "Gender"
gender_data.style.format({"Average Purchase Value":"${:,.2f}",
                                  "Average Purchase Price":"${:,.2f}",
                                  "Avg Purchase Total per Person":"${:,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [17]:
import pandas as pd

file_to_upload = "Resources/purchase_data.csv"

df = pd.read_csv(file_to_upload)


bins=[0,9,14,19,24,29,34,39,60]
bins_age=["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

purchase_data["Age Group"]=pd.cut(purchase_data["Age"],bins, labels=bins_age)
purchase_data

age_data= purchase_data.groupby("Age Group")
total_count_age = age_data["SN"].nunique()

#percents
percent_age= (total_count_age/total_players)*100
age_demo=pd.DataFrame({"Total Count":total_count_age,"Percent of Players":percent_age})
age_demo.index.name= None
age_demo.style.format({"Percent of Players":"{:,.2f}"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [18]:
bins=[0,9,14,19,24,29,34,39,60]
bins_age=["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

purchase_count= age_data["Purchase ID"].count()
avg_price=age_data["Price"].mean()
avg_total=age_data["Price"].sum()

age_data= purchase_data.groupby("Age Group")



avg_purchase= (avg_total/total_count_age)

age_demo= pd.DataFrame({"Purchase Count":purchase_count,"Average Purchase Price":avg_price,"Total Purchase Value":avg_total,"Avg Total Purchase per Person":avg_purchase})
age_demo.index.name= "Age Ranges"


total_p= age_demo.sort_values(["Avg Total Purchase per Person"], ascending=False).head()

age_demo.style.format({"Average Purchase Price":"${:,.2f}",
                                  "Total Purchase Value":"${:,.2f}",
                                  "Avg Total Purchase per Person":"${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [19]:
file_to_load = "Resources/purchase_data.csv"

purchase_data = pd.read_csv(file_to_load)

spender_data=purchase_data.groupby("SN")
purchase_spender = spender_data["Purchase ID"].count()
avg_purchase_price = spender_data["Price"].mean()
spender_total = spender_data["Price"].sum()

high_spenders=pd.DataFrame({"Purchase Count": purchase_spender,
                             "Average Purchase Price": avg_purchase_price,
                             "Total Purchase Value":spender_total})

spenders_f= high_spenders.sort_values(["Total Purchase Value"], ascending=False).head()
spenders_f.style.format({"Average Purchase Total":"${:,.2f}",
                                 "Average Purchase Price":"${:,.2f}", 
                                 "Total Purchase Value":"${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [20]:
import pandas as pd
file_to_load = "Resources/purchase_data.csv"

purchase_data = pd.read_csv(file_to_load)

items = purchase_data[["Item ID", "Item Name", "Price"]]

item_stats = items.groupby(["Item ID","Item Name"])

#count
purchase_count = item_stats["Price"].count()
#total
purchase_value = (item_stats["Price"].sum()) 

item_price = purchase_value/purchase_count

most_popular_items = pd.DataFrame({"Purchase Count": purchase_count, 
                                   "Item Price": item_price,
                                   "Total Purchase Value":purchase_value})

popular_f = most_popular_items.sort_values(["Purchase Count"], ascending=False).head()
#rounding dollar
popular_f.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})

Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [21]:
most_popular_items.sort_values(["Total Purchase Value"], ascending=False).head()

popular_f.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})